@model  Easycomtec.Models.CandidatesModel


<div class="content_  cor">
    <div class="col-md-7">
        <h3>Banco de Talentos - Easy Communication & Technology <span>(Developers/ Desenvolvedores)</span></h3>
        <h5>Learn more: <a href="https://youtu.be/teXgoCzunVE"> https://youtu.be/teXgoCzunVE</a></h5>
        <p>
            We appreciate your contact, check that you do not need to fill out the full form if already has
            this information on its linkedin, and check out the slinks at the end of the tutorials (developers).<br />
        </p>
        <p>
            Já agradecemos o seu contato, confira que você não precisa preencher o formulário
            completo caso já tenha essas informações no seu linkedin, e no final confira os links dos tutoriais (desenvolvedores).
        </p>
        <h5>How we work / Como trabalhamos: <a class="btn btn-default block" href="https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM"> Learn more </a></h5>
    </div>

    <div class="col-md-offset-1 col-md-4 top-form">
        <div class="form-group pad">
            @Html.LabelFor(model => model.Candidates.Email, htmlAttributes: new { @class = "col-form-label" })
            <div>
                @Html.EditorFor(model => model.Candidates.Email, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "Your Email", ng_model = "Candidates.Email", required = "true" } })
            </div>
            <div ng-show="LicenseForm.$submitted || LicenseForm['Candidates.Email'].$touched">
                <span class="text-danger" ng-show="LicenseForm['Candidates.Email'].$error.required">Tell us your email.</span>
                <span class="text-danger" ng-show="LicenseForm['Candidates.Email'].$error.email">Invalid email address.</span>
            </div>
        </div>
        <div class="form-group pad">
            <input type="button" value="Next &raquo;" class="btn block" ng-click="nextStep(LicenseForm.$valid)" />            
        </div>
    </div>
</div>